<h1>List all types of timeline</h1>

<% if @timelines %>
  <div class="page-container">
    <div id="line-container">
      <div id="line"></div>
    </div>
    <ol class="timeline-container clearfix">
      <% @timelines.each do |timeline| %>
        <% if timeline.timeline_type == 'ADD_VIDEO' %>
          <li class="timeline-unit timeline-add-video timeline-unit-left">
          <div class="timeline-header">
            <a href="#" class="timeline-avatar"> </a>
            <h4>
              <a href="#">luckyyang</a>
              添加了一个
              <a href="#">视频</a>
            </h4>
          </div>
          <div class="timeline-unit-date"><%= timeline.created_at.strftime('%m月%d日') %></div>
          <p>
          <a href="#"><%= timeline.name %></a>
          </p>
          </li>
        <% end %>
        <% if timeline.timeline_type == 'UPDATE_VIDEO' %>
          <li class="timeline-unit timeline-update-video timeline-unit-right">
          <div class="timeline-header">
            <a href="#" class="timeline-avatar"> </a>
            <h4>
              <a href="#">luckyyang</a>
              更新了一个
              <a href="#">视频</a>
            </h4>
          </div>
          <div class="timeline-unit-date"><%= timeline.updated_at.strftime('%m月%d日') %></div>
          <p>
          <a href="#"><%= timeline.name %></a>
          </p>
          </li>
        <% end %>
        <% if timeline.timeline_type == 'CREATE_COURSE' %>
          <li class="timeline-unit timeline-create-course timeline-unit-left">
          <div class="timeline-header">
            <a href="#" class="timeline-avatar"> </a>
            <h4>
              <a href="#">luckyyang</a>
              创建了一门
              <a href="#">课程</a>
            </h4>
          </div>
          <div class="timeline-unit-date"><%= timeline.created_at.strftime('%m月%d日') %></div>
          <p>
          <a href="#"><%= timeline.name %></a>
          </p>
          </li>
        <% end %>
      <% end %>
    </ol>
  </div>
<% else %>
  <p>没有任何更新</p>
<% end %>
